In [1]:
from chefboost import Chefboost as chef
import pandas as pd

In [18]:
df=pd.read_csv("C:/Users/Admin/Downloads/aml assignment_L.csv")

In [19]:
df

    Age  BMI  Exercise_Frequency  Calorie_Intake
0    28   22                   3            1800
1    45   26                   1            2200
2    35   30                   2            2500
3    50   31                   1            2300
4    23   20                   4            1900
5    60   35                   0            2400
6    30   21                   5            2000
7    52   28                   2            2100
8    41   25                   3            1900
9    33   23                   5            1800
10   27   26                   4            1750
11   48   33                   1            2600
12   55   30                   1            2100
13   36   27                   3            1900
14   40   29                   2            2200

In [21]:
config = {'algorithm': 'ID3'}
model = chef.fit(df, target_label = 'Calorie_Intake')

[INFO]:  2 CPU cores will be allocated in parallel running
WARNING: You set the algorithm to  ID3  but the Decision column of your data set has non-object type.
That's why, the algorithm is set to Regression to handle the data set.
Regression  tree is going to be built...
-------------------------
finished in  1.1806392669677734  seconds
-------------------------
Evaluate  train set
-------------------------
MAE:  45.555555555555564
MSE:  4944.444444444444
RMSE:  70.31674369909662
RAE:  0.03328785852107918
RRSE:  0.2733855716923258
Mean:  2096.6666666666665
MAE / Mean:  2.1727609962904086 %
RMSE / Mean:  3.353739763072971 %

In [24]:
parameters = ['28', '22', '3']
parameters = [int(param) for param in parameters]

prediction = chef.predict(model, param=parameters)
print(prediction)

1800